body{
    background-color: hsl(0,0%,7.06%)
}

.principal{
    width: 100%;
    height: 100%;
    
}
.contenedor{
    width: 100%;
    max-width:20% ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: hsl(0,0%,12.55%);
    border-radius: 5px;
}
.form{
    background-color: hsl(0,0%,12.55%);
}
.contform{
    
    max-width: 20%;
   
    display: flex;
    
    justify-content: center;
    align-items: center;
   
}
.ico{
    width: 100%;
    max-width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.controls{
    border-radius: 1ch;
}
.control{
    margin: auto;
    padding:5px;
}
.boton{
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
}
#fecha_nacimiento{
    margin-left: 15%;
    padding:5px;
    
}
.warnings{
    width: 20epx;
    text-align: center;
    margin: auto;
    color: #806AB3;
    padding-top: 28px
}
p{
    text-align: center;
    color: aliceblue;
}