body{
    background-color: hsl(0,0%,7.06%)
}

.principal{
    width: 100%;
    height: 100%;
    
}
.contenedor{
    width: 100%;
    max-width:20% ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color: hsl(0,0%,12.55%);
    border-radius: 5px;
}
.form{
    background-color: hsl(0,0%,12.55%);
}
.contform{
    
    max-width: 20%;
   
    display: flex;
    
    justify-content: center;
    align-items: center;
   
}
.ico{
    width: 100%;
    max-width: 20%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.controls{
    border-radius: 1ch;
}
.control{
    margin: 1px;
    padding:1px;
}
.boton{
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    
}

#fecha_nacimiento{
    margin-left: 15%;
    padding:5px;
    
}
.warnings{
    width: 20epx;
    text-align: center;
    margin: auto;
  
    padding-top: 28px
}

p{
    margin: 5PX;
    padding: 5PX;
    text-align: center;
    color: #806AB3;
    margin-bottom: 0;
}
/* ********************************** */
.form-control label {
    display: inline-block;
    margin-bottom: 1px;
   
}

.form-control input {
    border: none;
    background-color: #f0f0f0;
    display: block;
    font-family: inherit;


        
}
.form-control, input:focus {
    outline: none;
}

.form-control.ok input {
    border: 0.1px solid;
    border-color: #08ffc8;
}
.form-control.falla input {
    border: 0.1px solid;
    border-color: #fe5f55;
}

#formulario button {
    background: #fd4f00;
    border:1px solid #fd5f00;
    border-radius: 2px;
    color: #f6f6e9;
    display: block;
  
  
 
}
.form-control p {
    visibility: hidden;
    position: relative;
    font-size: small;
 
    text-align: center;
}

.form-control.falla p {
    visibility: visible;
    color:#e74c3c;
    margin: 5px;
}
#boton1{
    float:left;
}